.carousel-control.left,
.carousel-control.right {
  background: none;
}
.navbar-inverse {
  border-radius: 0px;
}
.navbar-default {
  margin-bottom: 0px;
}
.jumbotron p.lead {
  margin-bottom: 15px;
  font-size: 1.6em;
  font-weight: 200;
}
.jumbotron p {
  font-size: 1em;
  font-weight: inherit;
}
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero h1 {
  font-size: 5.6em;
  font-weight: 700;
}
.hero h1.small {
  font-size: 4em;
}
.hero h2 {
  font-size: 4.2em;
  font-weight: 600;
}
.hero h2 .small {
  font-size: 0.6em;
}
.hero h2 .small p {
  padding-bottom: 30px;
}
.hero .small {
  font-weight: 400;
  line-height: 1;
  color: #777;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.hero .nav-pills {
  margin-bottom: 0px;
  margin-top: 0px;
}

.thumbnail {
height: 544px;
}
