{% block content %}
	<div class="hero">
		<h5>&mdash; FAMILY OFFICE INVESTORS</h5>
		<hr>
		<h2><em>“You, and the generations before you, worked hard with focused efforts to build capital and assets. Manage it wisely to retain yourwealth and successfully transfer the assets to generations after you.”</em><span class="small"><p>Your disciplined and proven investment advisory approach, which we have successfully developed over almost 2 decades, will ensure that you implement a robust investment strategy and that you meet your short, medium and long term performance objectives. </p><p>We take a holistic look at your family’s wealth and offer you a tailor-made investment strategy. Let us assist you to implement a roadmap to success for generations to come. </p></span></h2>	
		<br><br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container">
	<br>
	<div role="tabpanel">
		<div class="col-md-8">
			<div class="jumbotron">
				<p class="lead">We offer advice on:</p>
				<ul class="lead">
					<li>Wealth creation;</li>
					<li>Wealth retention;</li>
					<li>Retirement planning;</li>
					<li>Estate planning;</li>
					<li>Risk cover;</li>
					<li>Offshore investments.</li>
				</ul>
				<p class="lead"><a href="#">Contact us</a> today to ensure that your legacy is stewarded.</p>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}