{% block content %}
	<div class="hero">
		<h5>&mdash; FAMILY OFFICE INVESTORS</h5>
		<hr>
		<h2>You, and the generations before you, worked hard to build capital and assets. We assist you to manage it wisely for the generations after you.<span class="small"><p>We take a holistic look at your family’s wealth and offer you a tailor-made investment strategy. Let us assist you to implement a roadmap to success for generations to come. </p></span></h2>	
		<br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container">
	<br>
	<div role="tabpanel">
		<div class="col-md-12">
			<div class="jumbotron">
				<p class="lead">We offer advice on:</p>
				<ul class="lead">
					<li>Wealth creation;</li>
					<li>Wealth retention;</li>
					<li>Retirement planning;</li>
					<li>Estate planning;</li>
					<li>Risk cover;</li>
					<li>Offshore investments.</li>
				</ul>
				<p class="lead"><a href="#">Contact us</a> today to ensure that your legacy is stewarded.</p>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}