{% block content %}
	<div class="hero">
		<h5>&mdash; FAMILY OFFICE INVESTORS</h5>
		<hr>
		<h2><em>“The goal isn't to live forever, the goal is to create something that will.” <small><br>― Chuck Palahniuk</small></em><span class="small"><p>You, and the generations before you, worked hard with focused efforts to build capital and assets and you should manage it wisely to retain the wealth that had been accumulated.</p><p>We take a holistic look at your family’s wealth and offer you premium and tailor-made solutions. Let us assist you to strategize your wealth and implement a roadmap to success for generations to come.</p></span></h2>	
		<br><br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container">
	<br>
	<div role="tabpanel">
		<div class="col-md-8">
			<div class="jumbotron">
				<p class="lead">We offer advice on:</p>
				<ul class="lead">
					<li>Wealth creation</li>
					<li>Wealth retention</li>
					<li>Retirement planning </li>
					<li>Estate planning</li>
					<li>Risk cover</li>
				</ul>
				<p class="lead">Our highly experienced team ensures that you receive premium service with easy access to our consultants any time you need it. </p>
				<p class="lead"><a href="#">Contact us today</a> to ensure that your legacy is correctly stewarded.</p>
			</div>
		</div>
	<div class="clearfix"></div>
	<br><br>
	</div><!--/.jumbotron-->
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}