{% block content %}
	<div class="hero">
		<h5 class="pull-left">&mdash; OUR INSIGHTS</h5>
		<ul class="nav nav-pills small pull-right">
		  <li role="presentation" class="active"><a href="#">All</a></li>
		  <li role="presentation"><a href="#">Featured</a></li>
		  <li role="presentation"><a href="#">Most Popular</a></li>
		  <li role="presentation"><a href="#">Research</a></li>
		  <li role="presentation"><a href="#">Market Updates</a></li>
		  <li role="presentation"><a href="#">Peer Group Surveys</a></li>
		</ul>
		<div class="clearfix"></div>
		<hr>
	</div>
</div>

<div class="container">
	{% include "featured-insights" %}
</div>

<div class="container">
	{% include "insights-feed" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}