{% block content %}
	<div class="hero">
		<h5 class="pull-left">&mdash; NEWS &amp; UPDATES: Videos</h5>
		<ul class="nav nav-pills small pull-right">
		  <li role="presentation" class="active"><a href="#">All</a></li>
		  <li role="presentation"><a href="#">Featured</a></li>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archives<b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><a href="#">2015</a></li>
		      <li><a href="#">2014</a></li>
		      <li><a href="#">2013</a></li>
		      <li><a href="#">2012</a></li>
		    </ul>
		  </li>
		 
		</ul>
		<div class="clearfix"></div>

		    	<form class="navbar-form navbar-right" role="search">
      				<div class="input-group">
        				<input type="text" class="form-control input-sm" id="exampleInputAmount" placeholder="Search all Videos">
        				<div class="input-group-addon"><i class="fa fa-search"></i></div>
      				</div>
    			</form>
    			<div class="clearfix"></div>
		<hr>
	</div>
</div>

<div class="container">
	{% include "videos" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}