{% block content %}
	<div class="hero">
		<h5>&mdash; RESPONSIBLE INVESTING</h5>
		<hr>
		<h2>Responsible Investing is in our DNA and incorporated into our advisory process. For us it has always been about doing the right things for the right reasons. We want our clients’ investments to have a positive and lasting impact.</h2>
		<br><br><br>
		<a href="#" class="fa fa-2x fa-long-arrow-down"></a>
	</div>
</div>
<div class="container">
	<br>
	<div class="col-md-8">
		<div class="jumbotron">
			<p class="lead">We are the second investment consulting firm in South Africa to have become a signatory of the United Nations backed Principles for Responsible Investment (UNPRI). Signatories promise to uphold the six principles that require them to act with the highest integrity and highest effort on Environmental, Social and Governance (ESG) issues and also to expect the same from service providers to their clients.</p>
			<p>We thereby forms part of a global network of investment peers who participate in online or live in-person events, forums and initiatives focused at integrating ESG issues into investment decision-making. We also support the Code for Responsible Investing in South Africa (CRISA) with the same vigor. CRISA is in line with UNPRI, but specifically aimed at the South African investment community.</p>
			<p>We have established a formal Responsible Investing (RI) Committee focusing on Regulation 28, CRISA, proxy voting, corporate governance, conflicts of interest, infrastructure, renewable energy and other ESG issues. We regularly invite experts from the investment and other industries, to share their view and approach to Responsible Investing. It is about building a network of experts that challenge the status quo with the aim to actively transform the investment industry to support and exercise ethical business practices that will create sustainable wealth. </p>
			<p>We can assist you to implement Responsible Investing (RI) Policies and advise you on practical ways to utilize your investments to make Environmental, Social and Governance impacts that will leave a legacy for generations to come. </p>
		</div>
	</div>
<div class="clearfix"></div>
</div>

<div class="container">
	{% include "insights" %}
</div>

<div class="container">
	
	{% include "newsletter" %}

{% endblock %}