.carousel-control.left,
.carousel-control.right {
  background: none;
}
.navbar-inverse {
  border-radius: 0px;
}
.navbar-default {
  margin-bottom: 0px;
}
.jumbotron p.lead {
  margin-bottom: 15px;
  font-size: 1.6em;
  font-weight: 200;
}
.jumbotron p {
  font-size: 1em;
  font-weight: inherit;
}
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero h1 {
  font-size: 5.6em;
  font-weight: 700;
}
.hero h1.small {
  font-size: 4em;
}
.hero h2 {
  font-size: 4.2em;
  font-weight: 600;
}
.hero h2 .small {
  font-size: 0.6em;
}
.hero h2 .small p {
  padding-bottom: 30px;
}
.hero .small {
  font-weight: 400;
  line-height: 1;
  color: #777;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.hero .nav-pills {
  margin-bottom: 0px;
  margin-top: 0px;
}

.thumbnail {
height: 544px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}