<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-2">
			<ul class="list-unstyled">
				<li><strong>OUR STORY</strong></li><br>
				<li> <a href="#">Our Business</a></li>
				<li> <a href="#">Our Name</a></li>
				<li> <a href="#">Our Values</a></li>
				<li> <a href="#">BEE Credentials</a></li>
				<li> <a href="#">We Give</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="list-unstyled">
				<li><strong>RESEARCH</strong></li><br>
				<li> <a href="#">Investment Insights</a></li>
				<li> <a href="#">Responsible Investing</a></li>
				<li> <a href="#">Personal Investment</a></li>
				<li> <a href="#">Institutional Investments</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="list-unstyled">
				<li><strong>MARKET UPDATES</strong></li><br>
				<li> <a href="#">September 2015</a></li>
				<li> <a href="#">August 2015</a></li>
				<li> <a href="#">July 2015</a></li>
				<li> <a href="#">June 2015</a></li>
				<li> <a href="#">May 2015</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="list-unstyled">
				<li><strong>PEER GROUP SURVEYS</strong></li><br>
				<li> <a href="#">September 2015</a></li>
				<li> <a href="#">August 2015</a></li>
				<li> <a href="#">July 2015</a></li>
				<li> <a href="#">June 2015</a></li>
				<li> <a href="#">May 2015</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<p class="lead">Maecenas faucibus mollis interdum. Donec id elit non mi porta. Consectetur Vehicula Ipsum.</p>
			<form action="" method="POST" role="form">
				<div class="form-group input-group">
					<input type="text" class="form-control" id="" placeholder="Name">
					<div class="input-group-addon"><i class="fa fa-user"></i></div>
				</div>
				<div class="form-group input-group">
					<input type="text" class="form-control" id="" placeholder="Email">
					<div class="input-group-addon">@</div>
				</div>
				<button type="submit" class="btn btn-default">Subscribe <i class="fa fa-envelope-o"></i></button>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-1">
			<img class="img-responsive" src="public/images/footer/bee.jpg">
		</div>
		<div class="col-md-1">
			<a href="http://www.iodsa.co.za/?page=CRISACode"><img class="img-responsive" src="public/images/footer/code.jpg"></a>
		</div>
		<div class="col-md-3">
			<a href="http://www.unpri.org/"><img class="img-responsive" src="public/images/footer/pri.jpg"></a>
		</div>
	</div>
	<hr>
	<div class="row small">
		<div class="col-md-6">
				<p>Copyright ©2015 GraySwan | <a href="/general/sitemap/" title="Sitemap">Sitemap</a> | <a href="/general/terms-and-conditions/" title="Terms and Conditions">Terms and Conditions</a>. GraySwan is an authorised financial services provider (3416) | All Rights Reserved</p>
		</div>
		<div class="col-md-6 text-right">
			&copy; 2015 GraySwan | Build by PPM
		</div>
	</div>
</div>