<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
		    <div class="carousel-inner">
		        <div class="item active">
		            <div class="row">
			            <div class="col-md-10 col-md-offset-1 text-center lead">
			            	<span class="label label-info"><i class="fa fa-rss"></i> <strong>UPDATE:</strong></span><br>
					  		We’re in JHB this week conducting investment manager due diligences. Looking forward to meeting with Kagiso, Tower Capital, Stanlib and Momentum.<br><a href="#" class="">Read more <i class="fa fa-long-arrow-right"></i></a>
					  	</div>
		            </div>
		        </div>
		        <div class="item">
		            <div class="row">
			            <div class="col-md-10 col-md-offset-1 text-center lead">
			            	<span class="label label-info"><i class="fa fa-rss"></i> <strong>UPDATE:</strong></span><br>
					  		We’ve just launched our latest new range of peer group investment manager surveys. Check it out on our Insights section.<br><a href="#" class="">Read more <i class="fa fa-long-arrow-right"></i></a>
					  	</div>
		            </div>
		        </div>
		        <div class="item">
		            <div class="row">
			            <div class="col-md-10 col-md-offset-1 text-center lead">
			            	<span class="label label-info"><i class="fa fa-rss"></i> <strong>UPDATE:</strong></span><br>
					  		GraySwan celebrated our 5 year anniversary this month. Thank you to all our clients that have travelled the road less travelled with us.<br><a href="#" class="">Read more <i class="fa fa-long-arrow-right"></i></a>
					  	</div>
		            </div>
		        </div>
		    </div>
		    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>