<div class="row">
	<div class="col-md-8">
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T6MhAwQ64c0"></iframe>
		</div>
		<h3><a href="news-single">Praesent commodo cursus magna, vel scelerisque.</a></h3>
		<p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	</div>

	<div class="col-md-4">
		<h3><a href="news-single"><a href="#">Nulla vitae elit libero, a pharetra augue.</a></a></h3>
		<strong><small>21 January 2015 | Insights | D. Theron</small></strong>
		<hr>
		<h3><a href="news-single"><a href="#">Sed posuere consectetur est at lobortis.</a></a></h3>
		<strong><small>21 January 2015 | Insights | D. Theron</small></strong>
		<hr>
		<h3><a href="news-single"><a href="#">Aenean lacinia bibendum nulla sed consectetur.</a></a></h3>
		<strong><small>21 January 2015 | Insights | D. Theron</small></strong>
		<hr>
		<h3><a href="news-single"><a href="#">Aenean lacinia bibendum nulla sed consectetur.</a></a></h3>
		<strong><small>21 January 2015 | Insights | D. Theron</small></strong>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<a class="pull-right btn btn-default btn-block">Load More</a>
			</div>
		</div>
	</div>
</div>
<br><hr><br><br>